body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 228, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;    
}

input[type=number] {
    margin: 10px;
    padding: 10px;
}

legend {
    font-size: 15px;
    font-weight: bold;
}

button {
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    background-color: mediumblue;
    color: aliceblue;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 3px solid #FFF;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

.direitos {
    font-size: 6px;
    text-align: center;
    display: flex;
}

a {
    font-size: 6px;
    text-align: center;
    display: flex;
}

