body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 228, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#campoResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;    
}

input[type=number] {
    margin: 10px;
    padding: 10px;
}

legend {
    font-size: 15px;
    font-weight: bold;
}

button {
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    background-color: #33444b;
    color: aliceblue;
}

.centralizado {
    text-align: center;
}

.email {
    font-size: 10px;
}

a {
    display: inline-block;
 }